@import 'ol/ol.css';

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url('/SurveillanceMapper/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('/SurveillanceMapper/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('/SurveillanceMapper/fonts/Lato-Light.ttf') format('truetype');
}

html,
body {
  margin: 0;
  height: 100%;
  position: relative;
  
  overflow: hidden;
}
